.App {
  background-color: black;
  height: 100%;
  width: 100%;
  text-align: center;
  margin: 0;
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
}

.App-logo {
  width: 50%;
  position: center;
  margin: 0;
}

.startButton {
  background-color: #ce1141;
  border: solid #ce1141;
  font-size: 20px;
  font-style: bold;
}
.texts {
  color: #ce1141;
  font-size: 26px;
}
.timer {
  color: #ce1141;
  font-size: 40px;
}

@keyframes animatedBackground {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
